/Graph_generation/COLIEE2022/task1_test_files_2022

/Graph_generation/COLIEE2022/task1_train_files_2022

/Graph_generation/COLIEE2023/task1_test_files_2023

/Graph_generation/COLIEE2023/task1_train_files_2023

/label/task1_test_labels_2022.json

/label/task1_train_labels_2022.json

/label/task1_test_labels_2023.json

/label/task1_train_labels_2023.json